<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context 
            classpath:/org/springframework/context/config/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop 
            classpath:/org/springframework/aop/config/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/task  
			http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- 解决@ResponseBody注解直接返回对象并转换成JSON时出现406问题，同时解决了返回String类型乱码的问题 -->
	<mvc:annotation-driven>
	</mvc:annotation-driven>

	<!-- 注解扫描器 -->
	<context:component-scan base-package="com.frame.control.*"></context:component-scan>
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 日志记录 -->
	<bean id="logAop" class="com.frame.log.logAop"></bean>
	<aop:config>
		<aop:aspect ref="logAop">
			<aop:before method="before" pointcut="execution(* *.*.control.*.*.*(..))" />
			<aop:after method="after" pointcut="execution(* *.*.control.*.*.*(..))" />
		</aop:aspect>
		<aop:aspect ref="logAop">
			<aop:before method="before" pointcut="execution(* *.*.service.*.*.*(..))" />
			<aop:after method="after" pointcut="execution(* *.*.service.*.*.*(..))" />
		</aop:aspect>
	</aop:config>

</beans>